* {
  background-color: #F3EFE6;
  margin: 0;
  padding: 0;
}

#name, #hp, #desc {
  width: 100%;
  background-color: white;  
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 4px #00000025;
  padding: 8px;
  font-family: "Montserrat";  
  font-weight: 700;
}

#name, #hp {
  height: 30px;
}

#desc {
  resize: none;
  border-radius: 10px;
  height: 180px;
}

label {
  font-family: "Montserrat";
  color: #AF5A00;
  font-weight: 700;
}

p {
  color: red;  
  margin-top: 5px;
}